@font-face {
  font-family: Hacked-KerX;
  src: url("/assets/hacked-font/Hacked-KerX.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Hacked-KerX, "Courier New", Courier, monospace; */
  font-family: Hacked-KerX, "IBM Plex Mono", monospace;
  /* letter-spacing: 7px; */
}

* ::selection {
  background: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 #022b13;
}

body {
  background: rgb(2, 2, 2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/assets/preview-BinaryNumbers1AlphaMatteVidevo.jpg"); */
}

.main {
  height: 90vh;
  width: 88%;
  color: rgb(18, 214, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 6px solid rgb(233, 225, 225);
  border-radius: 2px;
  /* align-content: space-around; */
}

.content {
  height: 90vh;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  margin: 5%;
}

.left h2 {
  font-weight: 100;
  font-size: 2rem;
}
.left h1 {
  font-weight: 400;
  font-size: 4.5rem;
  color: rgb(74, 206, 30);
}

.left h1:hover {
  text-shadow: 1px 1px 0 #7e807f;
}

.left p a {
  font-weight: 100;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  pointer-events: none;
  cursor: default;
}

.right {
  margin: 10%;
}

.right .image {
  height: 70vh;
  opacity: 0.5;
}

.footer {
  margin-bottom: 60px;
}

.footer ul {
  display: flex;
  list-style-type: none;
}

.footer ul li {
}

.footer ul li a {
  margin: 0 2rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(18, 214, 0);
}

.footer ul li a i:hover {
  color: rgb(140, 209, 131);
  transform: scale(2);
}

.hidden {
  display: none;
}

.hidden a {
  text-align: center;
  color: rgb(18, 214, 0);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 100;
}

@media (max-width: 768px) {
  .main {
    display: none;
  }

  .hidden {
    display: block;
  }
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("./assets/preview-BinaryNumbers1AlphaMatteVidevo.jpg");),
    #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
